*{
    padding: 0;
    margin: 0;
}
h2{
    font-family: 'Roboto',sans-serif;
}
body{
    color: #FFF;
}
@font-face{
    font-family:font;
    src: url('../Fonts/ConcertOne-Regular.ttf');
}
main{
    background:#000 url('../img/download.jfif') no-repeat center center;
    background-size: cover;
    min-height: 1200px;
}
.div{
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    min-height:1200px;
    padding: 30px;
}
.title{
    background-color:#070325;
    color: #FFF;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 18px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: font;
    font-size: 40px;
    margin-bottom:50px ;
}
/*table style*/
#table{
    width: 90%;
    margin: auto;
    font-family: 'Open Sans Condensed';
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    border-collapse:collapse;
    padding: 10px;
}
#table th,#table td{
    padding: 10px;
}
#table thead th, #table tfoot td{
    background-color: rgb(2, 2, 19) !important;
    color: #ccccba !important;
    font-weight: bold;
    border: none;
}
#table td{
    background-color: cornsilk;
    color: rgb(4, 73, 151);
    border: 1px solid #CCC;
}
#table .emp-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:3px solid #159fb3 ;
}
#table .total{
    border-left: 1px solid rgb(204, 204, 204);
}
#table .name{
    text-transform: capitalize;
}
#table tr:nth-child(even) td{
    background-color: #d8e4e6;
}
#table tr:nth-child(odd) td{
    background-color: #FFF;
}
#table tr:nth-child(even):hover td{
    background-color: #f7e4e8;
    cursor: pointer;
}
#table tr:nth-child(odd) td{
    background-color: #f7e4e8;
    cursor: pointer;
}